* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navegador{
    display: flex;
   
    width: 100%;
    background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.logo img{
    padding-top: 10px;
    padding-left: 10px;
    width: 50px;
    height: 50px;
}
.links{
    padding-left: 600px;
    padding-top: 20px;
    font-size: 20px;
}
.links a{
    text-decoration: none;
    color: black;
}
.portada{
    background-image:url(./img/portada.jpg) ;
    background-size: auto;
    height: 500px;
    text-align: center;
    color: white;
}
h1{
    padding: 120px;
    font-size: 80px;
}
.obra{
    height:300px;
    padding: 10px;
}
.obra{
    display: flex;
}
.obra img{
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 30%;
    animation: ease-in animationimg 2s;
}
h3{
    padding-top: 100px;
    padding-right: 30px;
}
.eventos{
  height:auto;
  background: #333333;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.evento img{
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 30%;
    animation: ease-in animationimg 2s;
}
.evento{
    display: flex;
}
.historia{
    height: auto;
    text-align: center;
}
.pasado{
    color:red;
    padding: 20px 150px 10px 150px; 
}
.texto{
    color: black;
}
.video{
    padding: 30px;
}
footer{
    height:200px;
   
    background-color: black;
    color: white;
}
.contactos{
     display: flex;
}
.iconos{
    padding: 20px;
    padding-top: 50px;
}
.iconos i{
    font-size: 20px;
    display: inline-block;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    width:40px;
    height: 40px;
    line-height: 37px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}
.preguntas{
    padding: 30px;
}
.preg {
    padding:30px 30px 0px 30px;
}
.logo2 img{
    width: 100px;
    height: 100px;
}
.logo2{
    padding: 30px;
}
@keyframes animationimg{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}